numpy
pyspark==3.3.2
pandas==1.5.3
matplotlib
scikit-learn
tensorflow
pyarrow
seaborn
venv-pack
minio
mlflow==2.3.0
boto3
pymysql
plotly
patsy
statsmodels
statsforecast
datasetsforecast
mlforecast
sktime
ipynb
nbimporter
kafka-python
